.outerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #1a1a1d;
}

.innerContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #ffffff;
	border-radius: 8px;
	height: 100%;
	width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
	.outerContainer {
		height: 100%;
	}

	.innerContainer {
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 480px) and (max-width: 1200px) {
	.innerContainer {
		width: 100%;
	}
}
